/* Overview Benefits */

.overview-benefits {
	display: grid;
	gap: 1rem;
}

.overview-benefits .overview-benefits__card h4 {
	margin: 1rem 0;
	letter-spacing: 0.05em;
	font-weight: 400;
	color: black;
	font-size: 1rem;
}

.overview-benefits .overview-benefits__card p {
	font-size: .5rem;
	letter-spacing: 0;
	margin: 0;
}

.overview-benefits .overview-benefits__card a:hover {
	color: #0645AD;
}

@media screen and (min-width: 768px) {
	.overview-benefits {
		grid-template-columns: repeat(2, 1fr);
		font-size: 1.25rem;
	}

	.overview-benefits .overview-benefits__card h4 {
		font-size: 1.25rem;
	}

	.overview-benefits .overview-benefits__card p {
		font-size: .875rem;
	}
}

@media screen and (min-width: 1024px) {
	.overview-benefits {
		grid-template-columns: repeat(3, 1fr);
	}
}